.subheader-button {
  color: white;
  background: #5658bc;
  text-decoration: none;
}

.subheader-button:hover {
  text-decoration: none;
}

.subheader-button:hover,
.subheader-button:focus,
.subheader-button:active {
  background: #5658bc;
}
